Repository anycable/docs.anycable.io: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, liche_v06, liche_v1, forspell, rubocop

lefthook.yml:

pre-commit:
  commands:
    mdl:
      tags: style
      glob: "**/*.md"
      run: mdl {staged_files}
    liche_v06:
      tags: links
      glob: "docs/v06/**/*.md"
      run: liche -r docs/v06 -d docs/v06 -x /v1
    liche_v1:
      tags: links
      glob: "docs/v1/**/*.md"
      run: liche -r docs/v1 -d docs/v1 -x /v06
    forspell:
      tags: grammar
      glob: "**/*.md"
      run: forspell {staged_files}
    rubocop:
      tags: style
      glob: "**/*.md"
      run: BUNDLE_GEMFILE=gemfiles/rubocop.gemfile bundle exec rubocop {staged_files}

Add redis sentinel demo link
  docs/v1/ruby/broadcast_adapters.md
Due: mdl, liche_v1, forspell, rubocop

Add redis sentinel password configuration
  docs/v1/ruby/broadcast_adapters.md
Due: mdl, liche_v1, forspell, rubocop

Add note about GoFish to anycable-go getting started
  docs/v1/anycable-go/getting_started.md
Due: mdl, liche_v1, forspell, rubocop

Fix Heroku app names
  docs/v06/deployment/heroku.md
  docs/v1/deployment/heroku.md
Due: mdl, liche_v06, liche_v1, forspell, rubocop

Fix typo in RuboCop cops documentation
  docs/v1/ruby/compatibility.md
Due: mdl, liche_v1, forspell, rubocop

Remove versions from sidebar
  .mdlrc
  docs/_sidebar.md
Due: mdl, forspell, rubocop

Fix select style
  docs/assets/styles.css
Due: none

Add v1 and edge versions to selector
  docs/index.html
Due: none

Add version selector
  .mdlrc
  docs/_sidebar.md
  docs/assets/styles.css
  docs/index.html
  docs/v06/index.html
  docs/v1/index.html
Due: mdl, forspell, rubocop

Make sure version selector shows the current version
  docs/index.html
Due: none

Fix liche task and assets links
  .github/workflows/docs-lint.yml
  docs/README.md
  docs/architecture.md
  docs/benchmarks.md
  docs/getting_started.md
Due: mdl, forspell, rubocop

Load anycable-go docs from remote repo
  docs/anycable-go/Readme.md
  docs/anycable-go/configuration.md
  docs/anycable-go/getting_started.md
  docs/anycable-go/health_checking.md
  docs/anycable-go/instrumentation.md
  docs/anycable-go/os_tuning.md
  docs/anycable-go/tracing.md
  docs/index.html
Due: mdl, forspell, rubocop

Fix sibebar links
  docs/index.html
Due: none

Extract versioning functionality into namespaces plugin
  docs/assets/docsify-namespaces.js
  docs/index.html
Due: none

Remove sidebar url prefixes
  docs/_sidebar.md
Due: mdl, forspell, rubocop

Support namespaces in search
  docs/assets/docsify-namespaces.js
  docs/assets/docsify-search.js
  docs/index.html
Due: none

Fix liche on CI
  .github/workflows/docs-lint.yml
Due: none

Migrate ruby and rails docs to their repos
  docs/README.md
  docs/_sidebar.md
  docs/architecture.md
  docs/deployment/heroku.md
  docs/getting_started.md
  docs/index.html
  docs/release_notes.md
  docs/ruby/Readme.md
  docs/ruby/authentication.md
  docs/ruby/broadcast_adapters.md
  docs/ruby/channels_state.md
  docs/ruby/cli.md
  docs/ruby/compatibility.md
  docs/ruby/configuration.md
  docs/ruby/exceptions.md
  docs/ruby/health_checking.md
  docs/ruby/logging.md
  docs/ruby/middlewares.md
  docs/ruby/non_rails.md
  docs/ruby/rails.md
  docs/ruby/stimulus_reflex.md
  docs/upgrade-notes/0_6_0_to_1_0_0.md
  lefthook.yml
Due: mdl, forspell, rubocop

Migrate ruby and rails docs to their repos
  .github/workflows/docs-lint.yml
  lefthook.yml
Due: none

Fix lefthook liche
  lefthook.yml
Due: none

Remove edit button
  docs/index.html
Due: none

Upgrade search plugin; preserve namespace for home page
  docs/assets/docsify-namespaces.js
  docs/assets/docsify-search.js
  docs/index.html
Due: none

Switch to published docsify-namespaced
  docs/assets/docsify-namespaces.js
  docs/index.html
Due: none

Mention secret key base issue in troubleshooting
  .mdlrc
  docs/troubleshooting.md
Due: mdl, forspell, rubocop

Load root files from master
  docs/index.html
Due: none

Upd disconnect with istate docs
  docs/architecture.md
  docs/misc/how_to_anycable_server.md
Due: mdl, forspell, rubocop

Add note about Heroku release phase for AnyCable
  docs/deployment/heroku.md
Due: mdl, forspell, rubocop

feat: permissions-policy
  docs/index.html
Due: none

Add pro icon
  docs/assets/pro.svg
  docs/assets/styles.css
Due: none

Add middlewares issue to troubleshooting
  docs/troubleshooting.md
Due: mdl, forspell, rubocop

v1.0-edge -> v1-edge
  docs/index.html
Due: none

Add v1-1
  .mdlrc
  docs/index.html
  docs/release_notes.md
  docs/upgrade-notes/1_0_0_to_1_1_0.md
  docs/upgrade-notes/Readme.md
Due: mdl, forspell, rubocop

Fix general docs for v1.0
  docs/index.html
  docs/release_notes.md
Due: mdl, forspell, rubocop

Add upgrade notes to sidebar
  docs/_sidebar.md
Due: mdl, forspell, rubocop

Root path should point to the latest release
  docs/index.html
Due: none

Switch to Netlify and use history router mode
  docs/index.html
  netlify.toml
Due: none

chore: upgrade docsify-namespaced
  docs/index.html
Due: none
