Repository anycable/docs.anycable.io: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, liche_v06, liche_v1, forspell, rubocop

lefthook.yml:

pre-commit:
  commands:
    mdl:
      tags: style
      glob: "**/*.md"
      run: mdl {staged_files}
    liche_v06:
      tags: links
      glob: "docs/v06/**/*.md"
      run: liche -r docs/v06 -d docs/v06 -x /v1
    liche_v1:
      tags: links
      glob: "docs/v1/**/*.md"
      run: liche -r docs/v1 -d docs/v1 -x /v06
    forspell:
      tags: grammar
      glob: "**/*.md"
      run: forspell {staged_files}
    rubocop:
      tags: style
      glob: "**/*.md"
      run: BUNDLE_GEMFILE=gemfiles/rubocop.gemfile bundle exec rubocop {staged_files}

Add community and version links
  docs/v06/_sidebar.md
  docs/v06/index.html
  docs/v1/_sidebar.md
  docs/v1/index.html
Due: mdl, forspell, rubocop

fix: ga workflow syntax
  .github/workflows/docs-lint.yml
Due: none

Actualize v1 docs. Round 1
  docs/v1/README.md
  docs/v1/_sidebar.md
  docs/v1/anycable-go/envoy.md
  docs/v1/anycable-go/health_checking.md
  docs/v1/anycable-go/instrumentation.md
  docs/v1/anycable-go/os_tuning.md
  docs/v1/benchmarks.md
  docs/v1/compatibility.md
  docs/v1/deployment/heroku.md
  docs/v1/getting_started.md
  docs/v1/misc/how_to_anycable_server.md
  docs/v1/misc/rpc_proto.md
  docs/v1/ruby/logging.md
  docs/v1/ruby/middlewares.md
  docs/v1/ruby/non_rails.md
  docs/v1/ruby/rails.md
  docs/v1/upgrade-notes/0_5_0_to_0_6_0.md
  docs/v1/upgrade-notes/0_6_0_to_1_0_0.md
  docs/v1/upgrade-notes/Readme.md
  docs/v1/using_with_rails.md
Due: mdl, liche_v1, forspell, rubocop

ci: fix liche job
  .github/workflows/docs-lint.yml
Due: none

Upgrade Heroku docs
  docs/v1/deployment/heroku.md
  docs/v1/index.html
  forspell.dict
Due: mdl, liche_v1, forspell, rubocop

Update RuboCop instructions
  docs/v1/misc/rpc_proto.md
  docs/v1/ruby/compatibility.md
Due: mdl, liche_v1, forspell, rubocop

v1.0 is RC
  docs/v06/_sidebar.md
  docs/v1/index.html
Due: mdl, forspell, rubocop

Finish upgrade notes; add release notes stub
  docs/v1/README.md
  docs/v1/release_notes.md
  docs/v1/upgrade-notes/0_6_0_to_1_0_0.md
Due: mdl, liche_v1, forspell, rubocop

Add note about upgrade order
  docs/v1/upgrade-notes/0_6_0_to_1_0_0.md
Due: mdl, liche_v1, forspell, rubocop

Add cable_meta_tag troubleshooting
  docs/v06/troubleshooting.md
  docs/v1/troubleshooting.md
Due: mdl, forspell, rubocop

Add concurrency settings docs
  docs/v1/anycable-go/getting_started.md
  docs/v1/ruby/configuration.md
Due: mdl, liche_v1, forspell, rubocop

Add note about ANYCABLE_CONF
  docs/v1/ruby/configuration.md
Due: mdl, liche_v1, forspell, rubocop

Add load balancer troubleshooting
  docs/v06/troubleshooting.md
  docs/v1/troubleshooting.md
Due: mdl, forspell, rubocop

Add deployment/load_balancing
  docs/v1/_sidebar.md
  docs/v1/anycable-go/Readme.md
  docs/v1/anycable-go/envoy.md
  docs/v1/deployment/Readme.md
  docs/v1/deployment/load_balancing.md
  forspell.dict
Due: mdl, liche_v1, forspell, rubocop

Extract anycable-go/configuration; add disconnector docs
  docs/v1/_sidebar.md
  docs/v1/anycable-go/Readme.md
  docs/v1/anycable-go/configuration.md
  docs/v1/anycable-go/getting_started.md
  docs/v1/anycable-go/tracing.md
  docs/v1/ruby/configuration.md
Due: mdl, liche_v1, forspell, rubocop

Minor fixes
  docs/v1/_sidebar.md
  docs/v1/anycable-go/configuration.md
Due: mdl, liche_v1, forspell, rubocop

Update commercial support links
  docs/v06/_sidebar.md
  docs/v06/custom_solutions.md
  docs/v1/README.md
  docs/v1/_sidebar.md
  docs/v1/custom_solutions.md
Due: mdl, forspell, rubocop

Annotate rpc proto
  docs/v1/misc/how_to_anycable_server.md
  docs/v1/misc/rpc_proto.md
Due: mdl, liche_v1, forspell, rubocop

Upgrade writing a server guide
  docs/v1/misc/how_to_anycable_server.md
Due: mdl, liche_v1, forspell, rubocop

Upgrade non-rails
  docs/v1/ruby/non_rails.md
Due: mdl, liche_v1, forspell, rubocop

Add link to Heroku sync Rake
  docs/v1/deployment/heroku.md
Due: mdl, liche_v1, forspell, rubocop

Add Stimulus Reflex
  docs/v1/_sidebar.md
  docs/v1/ruby/stimulus_reflex.md
Due: mdl, liche_v1, forspell, rubocop

Add release notes
  docs/v1/anycable-go/instrumentation.md
  docs/v1/release_notes.md
  docs/v1/ruby/stimulus_reflex.md
  forspell.dict
Due: mdl, liche_v1, forspell, rubocop

Add link to Stimulus Reflex deployment guide
  docs/v1/ruby/stimulus_reflex.md
Due: mdl, liche_v1, forspell, rubocop

Add link to anycable reflex expo
  docs/v1/ruby/stimulus_reflex.md
Due: mdl, liche_v1, forspell, rubocop

RubyConf 2018 website is no longer live
  docs/v06/README.md
  docs/v1/README.md
Due: mdl, forspell, rubocop

Add note about anycable-rails rc2
  docs/v1/_sidebar.md
  docs/v1/release_notes.md
Due: mdl, forspell, rubocop

Restore lost sidebar link to Kubernetes deployment
  docs/v1/_sidebar.md
Due: mdl, forspell, rubocop

Add note about identifiers vs globalid
  docs/v1/architecture.md
  docs/v1/ruby/compatibility.md
Due: mdl, liche_v1, forspell, rubocop

Add new demo link to GlobalID article
  docs/v1/architecture.md
  docs/v1/release_notes.md
  docs/v1/ruby/rails.md
Due: mdl, liche_v1, forspell, rubocop

Update Heroku guide
  docs/v1/deployment/heroku.md
Due: mdl, liche_v1, forspell, rubocop

Switch to v1 by default
  docs/index.html
  docs/v1/_sidebar.md
  docs/v1/deployment/heroku.md
  docs/v1/index.html
  docs/v1/release_notes.md
  docs/v1/ruby/rails.md
  docs/v1/websocket_servers.md
Due: mdl, liche_v1, forspell, rubocop

1.0 is out
  docs/v1/index.html
  docs/v1/release_notes.md
Due: mdl, forspell, rubocop

Upd benchmarks link
  docs/v1/benchmarks.md
Due: mdl, forspell, rubocop

Add links to 1.0 post
  docs/v06/README.md
  docs/v1/README.md
  docs/v1/release_notes.md
Due: mdl, forspell, rubocop

Fix typo
  docs/v1/anycable-go/getting_started.md
Due: mdl, liche_v1, forspell, rubocop

Add redis sentinel password configuration
  docs/v1/ruby/broadcast_adapters.md
Due: mdl, liche_v1, forspell, rubocop

Add redis sentinel demo link
  docs/v1/ruby/broadcast_adapters.md
Due: mdl, liche_v1, forspell, rubocop
